@model OSA.Web.ViewModels.Suppliers.View_Models.SupplierBindingViewModel
@{
    this.ViewData["Title"] = "Get Supplier";
}

<div class="text-center">
    <h3>Списък на доставчици за @Model.Name</h3>
    <div class="col-md-12">
        <center>
            <table border="0">
                <tr>
                    <th>ID</th>
                    <th>Име на доставчик</th>
                    <th>Булстат</th>
                    <th>Редактирай</th>
                </tr>
                @foreach (var supplier in Model.Suppliers)
                {
                    <tr>
                        <td>@supplier.Id</td>
                        <td>@supplier.Name</td>
                        <td>@supplier.Bulstat</td>
                        <td>
                            <a asp-action="Edit" asp-controller="Supplier" asp-route-Id="@supplier.Id" class="btn btn-primary m-1">Edit</a>
                        </td>
                    </tr>
                }
            </table>
        </center>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
