@model OSA.Web.ViewModels.ProductionInvoices.View_Models.ProductionInvoiceBindingViewModel
@{
    this.ViewData["Title"] = "Get Production Invoice";
}
@{ int index = 0;}
<div class="text-center">
    <h3>Списък от касови ордери за @Model.Name</h3>
    <div class="col-md-12">
        <center>
            <table border="0">
                <tr>
                    <th>ID</th>
                    <th>Номер на касов ордер</th>
                    <th>Тотал заплати</th>
                    <th>Тотал външни разходи</th>
                    <th>Дата</th>
                    <th>Редактирай</th>
                </tr>
                @foreach (var productionInvoice in Model.ProductionInvoices)
                {
                    <tr>
                        <td>@(index += 1)</td>
                        <td>@productionInvoice.InvoiceNumber</td>
                        <td>@productionInvoice.Salary.ToString("F")</td>
                        <td>@productionInvoice.ExternalCost.ToString("F")</td>
                        <td>@String.Format("{0:dd/MM/yyyy}", productionInvoice.Date)</td>
                        <td>
                            <form asp-controller="ProductionInvoice" asp-action="Delete" asp-route-id="@productionInvoice.Id" method="post" class="form-inline" role="form">
                                <input type="hidden" id="@productionInvoice.Id">
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Сигурни ли сте че искате да изтриете касовия ордер?')">
                                    <span class="glyphicon glyphicon-trash" style="vertical-align:middle;margin-top: -5px"></span> Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </center>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
