@model OSA.Web.ViewModels.ProductionInvoices.View_Models.ProductionInvoiceBindingViewModel
@{
    this.ViewData["Title"] = "Get Production Invoice";
}

<div class="text-center">
    <h3>List of Production Invoices for @Model.Name</h3>
    <div class="col-md-12">
        <center>
            <table border="0">
                <tr>
                    <th>ID</th>
                    <th>Invoice Number</th>
                    <th>Material Cost</th>
                    <th>External Cost</th>
                    <th>Issue Date</th>
                </tr>
                @foreach (var productionInvoice in Model.ProductionInvoices)
                {
                    <tr>
                        <td>@productionInvoice.Id</td>
                        <td>@productionInvoice.InvoiceNumber</td>
                        <td>@productionInvoice.StockCost.ToString("F")</td>
                        <td>@productionInvoice.ExternalCost.ToString("F")</td>
                        <td>@productionInvoice.Date.ToShortDateString()</td>
                    </tr>
                }
            </table>
        </center>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
