@model OSA.Web.ViewModels.AvailableStocks.View_Models.AvailableStockBindingViewModel
@{
    this.ViewData["Title"] = "Get Available Stock";
}
@{ int index = 0;}
@{ List<int> ids = new List<int>();}
<div id="checkboxes" class="text-center">
    <h3>Списък на наличноста за @Model.Name</h3>
    <div class="col-md-12">
        <form asp-controller="AvailableStock" asp-action="Delete" method="post" class="form-inline" role="form">
            <center>
                <table border="0">
                    <tr>
                        @if (Model.AvailableStocks.Count() != 0)
                        {
                            <th><input type="checkbox" id="checkall" /></th>
                        }
                        <th>ID</th>
                        <th>Име на стока</th>
                        <th>Тотал на закупено количество</th>
                        <th>Тотал на закупена цена</th>
                        <th>Тотал на продадено количество</th>
                        <th>Тотал на продажна цена</th>
                        <th>Отчетна стойност</th>
                        <th>Средна цена</th>
                        <th>Налично количество</th>
                        <th>Налични пари</th>
                        <th>Дата</th>
                    </tr>
                    @foreach (var availableStock in Model.AvailableStocks)
                    {
                        ids.Add(availableStock.Id);
                        <tr>
                            <td>
                                <input type="checkbox" name="ids" id="@availableStock.Id" value="@availableStock.Id" />
                            </td>
                            <td>@(index += 1)</td>
                            <td>@availableStock.StockName</td>
                            <td>@availableStock.TotalPurchasedAmount.ToString("F")</td>
                            <td>@availableStock.TotalPurchasedPrice.ToString("F")</td>
                            <td>@availableStock.TotalSoldQuantity.ToString("F")</td>
                            <td>@availableStock.TotalSoldPrice.ToString("F")</td>
                            <td>@Convert.ToDecimal(availableStock.BookValue).ToString("F")</td>
                            <td>@Convert.ToDecimal(availableStock.AveragePrice).ToString("F")</td>
                            <td>@availableStock.RemainingQuantity.ToString("F")</td>
                            <td>@availableStock.RemainingPrice.ToString("F")</td>
                            <td>@String.Format("{0:dd/MM/yyyy}", availableStock.Date)</td>
                        </tr>
                    }
                </table>
                <div align="left" class="col-md-12"><strong>Тотал на закупените цени: @Model.AvailableStocks.Sum(x => x.TotalPurchasedPrice)</strong></div>
                <div align="left" class="col-md-12"><strong>Тотал на продажните цени: @Model.AvailableStocks.Sum(x => x.TotalSoldPrice)</strong></div>
                <div align="left" class="col-md-12"><strong>Тотал на отчетните стойности: @Model.AvailableStocks.Sum(x => Convert.ToDecimal(x.BookValue)).ToString("F")</strong></div>
                <div align="left" class="col-md-12"><strong>Тотал на наличните пари: @Model.AvailableStocks.Sum(x => x.RemainingPrice).ToString("F2")</strong></div>
            </center>
            @if (Model.AvailableStocks.Count() != 0)
            {
                <input type="hidden" id="@ids">
                <button type="submit" class="btn btn-danger" id="DelButon" disabled value="Delete" onclick="return confirm('Сигурни ли сте че искате да изтриете наличноста?')">
                    <span class="glyphicon glyphicon-trash" style="vertical-align:middle;margin-top: -5px"></span> Delete
                </button>
            }
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        function toggleChecked(status) {
            $("#checkboxes input").each(function () {
                $(this).prop("checked", status);
            });
        }
        $(document).ready(function () {
            var checkAllBox = $("#checkall");
            checkAllBox.prop('checked', false);
            checkAllBox.click(function () {
                var status = checkAllBox.prop('checked');
                toggleChecked(status);
            });
        });
        $('input[type="checkbox"]').change(function () {
            if ($('input[type="checkbox"]:checked').length > 0) {
                $('#DelButon').prop('disabled', false);
            } else {
                $('#DelButon').prop('disabled', true);
            }
        });
    </script>
}
