@model OSA.Web.ViewModels.Purchases.View_Models.PurchaseBindingViewModel
@{
    this.ViewData["Title"] = "Get Purchase";
}
@{ int index = 0;}
@{ List<int> ids = new List<int>();}
<div id="checkboxes" class="text-center">
    <h3 style="text-align:left">List of Purchases for @Model.Name</h3>
    <div class="col-md-12">
        <center>
            <form asp-controller="Purchase" asp-action="Delete" method="post" class="form-inline" role="form">
                <table border="0">
                    <tr>
                        @if (Model.Purchases.Count() != 0)
                        {
                            <th><input type="checkbox" id="checkall" /></th>
                        }
                        <th>ID</th>
                        <th>Stock Name</th>
                        <th>Total Quantity</th>
                        <th>Total Price</th>
                        <th>Average Price</th>
                        <th>Date</th>
                    </tr>
                    @foreach (var purchase in Model.Purchases)
                    {
                        ids.Add(purchase.Id);
                        <tr>
                            <td>
                                <input type="checkbox" name="ids" id="@purchase.Id" value="@purchase.Id" />
                            </td>
                            <td>@(index += 1)</td>
                            <td>@purchase.StockName</td>
                            <td>@purchase.TotalQuantity</td>
                            <td>@purchase.TotalPrice</td>
                            <td>@purchase.AveragePrice.ToString("F")</td>
                            <td>@String.Format("{0:d/M/yyyy}", purchase.Date)</td>
                        </tr>
                    }
                </table>
                <div align="left" class="col-md-12">Total Price Sum: @Model.Purchases.Sum(x => x.TotalPrice)</div>
                @if (Model.Purchases.Count() != 0)
                {
                    <input type="hidden" id="@ids">
                    <button type="submit" class="btn btn-danger" id="DelButon" disabled value="Delete" onclick="return confirm('Are you sure you want to delete Purchases?')">
                        <span class="glyphicon glyphicon-trash" style="vertical-align:middle;margin-top: -5px"></span> Delete
                    </button>
                }
            </form>
        </center>
            
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        function toggleChecked(status) {
            $("#checkboxes input").each(function () {
                $(this).prop("checked", status);
            });
        }
        $(document).ready(function () {
            var checkAllBox = $("#checkall");
            checkAllBox.prop('checked', false);
            checkAllBox.click(function () {
                var status = checkAllBox.prop('checked');
                toggleChecked(status);
            });
        });
        $('input[type="checkbox"]').change(function () {
            if ($('input[type="checkbox"]:checked').length > 0) {
                $('#DelButon').prop('disabled', false);
            } else {
                $('#DelButon').prop('disabled', true);
            }
        });
    </script>
}
