@model OSA.Web.ViewModels.Purchases.View_Models.PurchaseBindingViewModel
@{
    this.ViewData["Title"] = "Get Purchase";
}
@{ int index = 0;}
<div class="text-center">
    <h3>List of Purchases for @Model.Name</h3>
    <div class="col-md-12">
        <center>
            <table border="0">
                <tr>
                    <th>ID</th>
                    <th>Stock Name</th>
                    <th>Total Quantity</th>
                    <th>Total Price</th>
                    <th>Average Price</th>
                    <th>Date</th>
                </tr>
                @foreach (var purchase in Model.Purchases)
                {
                    <tr>
                        <td>@(index += 1)</td>
                        <td>@purchase.StockName</td>
                        <td>@purchase.TotalQuantity</td>
                        <td>@purchase.TotalPrice</td>
                        <td>@purchase.AveragePrice.ToString("F")</td>
                        <td>@purchase.Date.ToShortDateString()</td>
                    </tr>
                }
            </table>
            <div align="left" class="col-md-6">Total Price Sum: @Model.Purchases.Sum(x => x.TotalPrice)</div>
        </center>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
