@model OSA.Web.ViewModels.Stocks.View_Models.StockBindingViewModel
@inject OSA.Services.Data.IInvoicesService invoicesService
@{
    this.ViewData["Title"] = "Get Stock";
}
@{ List<int> ids = new List<int>();}
<div id="checkboxes" class="text-center">
    <h3 style="text-align:left">List of Stocks for @Model.Name</h3>
    <form asp-controller="Stock" asp-action="Delete" method="post" class="form-inline" role="form">
        <div class="col-md-12">
            @*<center>*@
            <table border="0">
                <tr>
                    @if (Model.Stocks.Count() != 0)
                    {
                        <th><input type="checkbox" id="checkall" /></th>
                    }
                    <th>ID</th>
                    <th>Name</th>
                    <th>Total Quantity</th>
                    <th>Total Price</th>
                    <th>Issue Date</th>
                    <th>Invoice Number</th>
                    <th>Edit Stock</th>
                </tr>
                @foreach (var stock in Model.Stocks)
                {
                    ids.Add(stock.Id);
                    <tr>
                        <td>
                            <input type="checkbox" name="ids" id="@stock.Id" value="@stock.Id" />
                        </td>
                        <td>@stock.Id</td>
                        <td>@stock.Name</td>
                        <td>@stock.Quantity</td>
                        <td>@stock.Price</td>
                        <td>@String.Format("{0:d/M/yyyy}", stock.Date)</td>
                        <td>@await this.invoicesService.GetInvoiceNumberByInvoiceIdAsync(stock.InvoiceId)</td>
                        <td>
                            <a asp-action="Edit" asp-controller="Stock" asp-route-Id="@stock.Id" class="btn btn-primary m-1">Edit</a>
                        </td>
                    </tr>
                }
            </table>
            <div align="left" class="col-md-6"><strong>Total Price Sum: </strong>@Model.Stocks.Sum(x => x.Price)</div>
            <br />
        </div>
        @if (Model.Stocks.Count() != 0)
        {
            <input type="hidden" id="@ids">
            <button type="submit" class="btn btn-danger" id="DelButon" disabled value="Delete" onclick="return confirm('Are you sure you want to delete Stock(s)?')">
                <span class="glyphicon glyphicon-trash" style="vertical-align:middle;margin-top: 50px"></span> Delete
            </button>
        }
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        function toggleChecked(status) {
            $("#checkboxes input").each(function () {
                $(this).prop("checked", status);
            });
        }
        $(document).ready(function () {
            var checkAllBox = $("#checkall");
            checkAllBox.prop('checked', false);
            checkAllBox.click(function () {
                var status = checkAllBox.prop('checked');
                toggleChecked(status);
            });
        });
        $('input[type="checkbox"]').change(function () {
            if ($('input[type="checkbox"]:checked').length > 0) {
                $('#DelButon').prop('disabled', false);
            } else {
                $('#DelButon').prop('disabled', true);
            }
        });
    </script>
}
