@model OSA.Web.ViewModels.Stocks.View_Models.StockBindingViewModel
@{
    this.ViewData["Title"] = "Get Stock";
}

<div class="text-center">
    <h3>List of stocks for @Model.Name</h3>
    <div class="col-md-12">
        <center>
            <table border="0">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Total Quantity</th>
                    <th>Total Price</th>
                    <th>Issue Date</th>
                    <th>Invoice ID</th>
                    <th>Company ID</th>
                </tr>
                @foreach (var stock in Model.Stocks)
                {
                    <tr>
                        <td>@stock.Id</td>
                        <td>@stock.Name</td>
                        <td>@stock.Quantity</td>
                        <td>@stock.Price</td>
                        <td>@stock.Date.ToShortDateString()</td>
                        <td>@stock.InvoiceId</td>
                        <td>@stock.CompanyId</td>
                    </tr>
                }
            </table>
        </center>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
