@model OSA.Web.ViewModels.BookValues.View_Models.BookValueBindingViewModel
@{
    this.ViewData["Title"] = "Get Book Values";
}

<div class="text-center">
    <h3>List of book values for @Model.Name</h3>
    <div class="col-md-12">
        <center>
            <table border="0">
                <tr>
                    <th>ID</th>
                    <th>Stock Name</th>
                    <th>Book Value</th>
                    <th>Date</th>
                    <th>Company ID</th>
                </tr>
                @foreach (var bookValue in Model.BookValues)
                {
                    <tr>
                        <td>@bookValue.Id</td>
                        <td>@bookValue.StockName</td>
                        <td>@bookValue.Price</td>
                        <td>@bookValue.Date</td>
                        <td>@bookValue.CompanyId</td>
                    </tr>
                }
            </table>
        </center>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
