@model OSA.Web.ViewModels.CashBooks.View_Models.CashBookBindingViewModel
@{
    this.ViewData["Title"] = "Get Cash Book";
}
@{ int index = 0;}
<div class="text-center">
    <h3>Списък на касовата книга за @Model.Name</h3>
    <div class="col-md-12">
        <center>
            <table border="0">
                <tr>
                    <th>ID</th>
                    <th>Тотал разход стока</th>
                    <th>Тотал разход заплати</th>
                    <th>Тотал външни разходи </th>
                    <th>Тотал печалба</th>
                    <th>Тотал разходи</th>
                    <th>Налични пари</th>
                    <th>Салдо</th>
                    <th>Лични средства</th>
                    <th>Дата</th>
                    <th>Изтрий</th>
                </tr>
                @foreach (var cashBook in Model.CashBooks)
                {
                    <tr>
                        <td>@(index += 1)</td>
                        <td>@cashBook.TotalInvoicePricesCost.ToString("F")</td>
                        <td>@cashBook.TotalSalaryCost.ToString("F")</td>
                        <td>@cashBook.TotalStockExternalCost.ToString("F")</td>
                        <td>@cashBook.TotalProfit.ToString("F")</td>
                        <td>@cashBook.TotalCost.ToString("F")</td>
                        <td>@cashBook.MoneyAvailable.ToString("F")</td>
                        <td>@cashBook.Saldo.ToString("F")</td>
                        <td>@cashBook.OwnFunds.ToString("F")</td>
                        <td>@String.Format("{0:dd/MM/yyyy}", cashBook.Date)</td>
                        <td>
                            <form asp-controller="CashBook" asp-action="Delete" asp-route-id="@cashBook.Id" method="post" class="form-inline" role="form">
                                <input type="hidden" id="@cashBook.Id">
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Сигурни ли сте че искате да изтриете касовата книга?')">
                                    <span class="glyphicon glyphicon-trash" style="vertical-align:middle;margin-top: -5px"></span> Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </center>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
