@model OSA.Web.ViewModels.Sales.View_Models.SaleBindingViewModel
@{
    this.ViewData["Title"] = "Get Sale";
}
@{ int index = 0;}
@{ List<int> ids = new List<int>();}
<div id="checkboxes" class="text-center">
    <h3 style="text-align:left">List of Sales for @Model.Name</h3>
    <div class="col-md-12">
        <center>
            <form asp-controller="Purchase" asp-action="Delete" method="post" class="form-inline" role="form">
                <table border="0">
                    <tr>
                        @if (Model.Sales.Count() != 0)
                        {
                            <th><input type="checkbox" id="checkall" /></th>
                        }
                        <th>ID</th>
                        <th>Stock Name</th>
                        <th>Total Price</th>
                        <th>Profit Percent</th>
                        <th>Average Price</th>
                        <th>Book Value</th>
                        <th>Total Quantity of the purchase</th>
                        <th>Date</th>
                        <th>Edit</th>
                    </tr>
                    @foreach (var sale in Model.Sales)
                    {
                        ids.Add(sale.Id);
                        <tr>
                            <td>
                                <input type="checkbox" name="ids" id="@sale.Id" value="@sale.Id" />
                            </td>
                            <td>@(index += 1)</td>
                            <td>@sale.StockName</td>
                            <td>@sale.TotalPrice</td>
                            <td>@sale.ProfitPercent</td>
                            <td>@Convert.ToDecimal(sale.AveragePrice).ToString("F")</td>
                            <td>@sale.BookValue.ToString("F")</td>
                            <td>@sale.TotalPurchaseQuantity.ToString("F")</td>
                            <td>@String.Format("{0:dd/MM/yyyy}", sale.Date)</td>
                            <td>
                                <a asp-action="Edit" asp-controller="Sale" asp-route-Id="@sale.Id" class="btn btn-primary m-1">Edit</a>
                            </td>
                        </tr>
                    }
                </table>
                <div align="left" class="col-md-12"><strong>Total Price Sum: </strong>@Model.Sales.Sum(x => x.TotalPrice)</div>
                @if (Model.Sales.Count() != 0)
                {
                    <input type="hidden" id="@ids">
                    <button type="submit" class="btn btn-danger" id="DelButon" disabled value="Delete" onclick="return confirm('Are you sure you want to delete Sale(s)?')">
                        <span class="glyphicon glyphicon-trash" style="vertical-align:middle;margin-top: -5px"></span> Delete
                    </button>
                }
            </form>
        </center>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        function toggleChecked(status) {
            $("#checkboxes input").each(function () {
                $(this).prop("checked", status);
            });
        }
        $(document).ready(function () {
            var checkAllBox = $("#checkall");
            checkAllBox.prop('checked', false);
            checkAllBox.click(function () {
                var status = checkAllBox.prop('checked');
                toggleChecked(status);
            });
        });
        $('input[type="checkbox"]').change(function () {
            if ($('input[type="checkbox"]:checked').length > 0) {
                $('#DelButon').prop('disabled', false);
            } else {
                $('#DelButon').prop('disabled', true);
            }
        });
    </script>
}
