@model OSA.Web.ViewModels.Sales.View_Models.SaleBindingViewModel
@{
    this.ViewData["Title"] = "Get Sale";
}
@{ int index = 0;}
<div class="text-center">
    <h3>List of Sales for @Model.Name</h3>
    <div class="col-md-12">
        <center>
            <table border="0">
                <tr>
                    <th>ID</th>
                    <th>Stock Name</th>
                    <th>Total Price</th>
                    <th>Profit Percent</th>
                    <th>Average Price</th>
                    <th>Book Value</th>
                    <th>Total Quantity of the purchase</th>
                    <th>Date</th>
                </tr>
                @foreach (var sale in Model.Sales)
                {
                    <tr>
                        <td>@(index += 1)</td>
                        <td>@sale.StockName</td>
                        <td>@sale.TotalPrice</td>
                        <td>@sale.ProfitPercent</td>
                        <td>@Convert.ToDecimal(sale.AveragePrice).ToString("F")</td>
                        <td>@sale.BookValue.ToString("F")</td>
                        <td>@sale.TotalPurchaseQuantity.ToString("F")</td>
                        <td>@String.Format("{0:d/M/yyyy}", sale.Date)</td>
                    </tr>
                }
            </table>
            <div align="left" class="col-md-8">Total Price Sum: @Model.Sales.Sum(x => x.TotalPrice)</div>
        </center>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
