@model OSA.Web.ViewModels.Invoices.View_Models.InvoiceBindingViewModel
@inject OSA.Services.Data.ISuppliersService suppliersService
@{
    this.ViewData["Title"] = "Get Invoice";
}
@{int index = 0;}
<div class="text-center">
    <h3>List of Invoices for @Model.Name</h3>
    <div class="col-md-12">
        <center>
            <table border="0">
                <tr>
                    <th>ID</th>
                    <th>Invoice Number</th>
                    <th>Total Amount</th>
                    <th>Issue Date</th>
                    <th>Supplier Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                @foreach (var invoice in Model.Invoices)
                {
                    <tr>
                        <td>@(index += 1)</td>
                        <td>@invoice.InvoiceNumber</td>
                        <td>@invoice.TotalAmount.ToString("F")</td>
                        <td>@String.Format("{0:dd/MM/yyyy}", invoice.Date)</td>
                        <td>@await this.suppliersService.GetSupplierNameBySupplierIdAsync(invoice.SupplierId)</td>
                        <td>
                            <a asp-action="Edit" asp-controller="Invoice" asp-route-Id="@invoice.Id" class="btn btn-primary m-1">Edit</a>
                        </td>
                        <td>
                            <form asp-controller="Invoice" asp-action="Delete" asp-route-id="@invoice.Id" method="post" class="form-inline" role="form">
                                <input type="hidden" id="@invoice.Id">
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete Invoice?')">
                                    <span class="glyphicon glyphicon-trash" style="vertical-align:middle;margin-top: -5px"></span> Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
            <div align="left" class="col-md-6"><strong>Total Invoice Price Sum: </strong>@Model.Invoices.Sum(x => x.TotalAmount)</div>
        </center>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
