@model OSA.Web.ViewModels.Receipts.View_Models.ReceiptBindingViewModel
@{
    this.ViewData["Title"] = "Get Receipt";
}

<div class="text-center">
    <h3>List of Receipts for @Model.Name</h3>
    <div class="col-md-12">
        <center>
            <table border="0">
                <tr>
                    <th>ID</th>
                    <th>Receipt Number</th>
                    <th>Salary</th>
                    <th>Date</th>
                </tr>
                @foreach (var receipt in Model.Receipts)
                {
                    <tr>
                        <td>@receipt.Id</td>
                        <td>@receipt.ReceiptNumber</td>
                        <td>@receipt.Salary.ToString("F")</td>
                        <td>@receipt.Date.ToShortDateString()</td>
                    </tr>
                }
            </table>
        </center>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
